<div class="row">
  <div class="medium-6 columns">
    <h2 class="text-green">Vegan level: <%= current_user.level %></h2>






    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mt3" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field mt3">
        <%= f.label :cover_photo %> <br />
        <%= f.text_field :cover_photo, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :avatar %> <br />
        <%= f.text_field :avatar, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :description %> <br />
        <%= f.text_area :description, autocomplete: "off" %>
      </div>

      <div class="actions mt2">
        <%= f.submit "Update", class: "button mb1" %>

      </div>
    <% end %>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button button-ghost " %>
    <%= link_to "Back", :back %>

  </div>
  <div class="medium-5 columns">
    <%= render partial: "templates/widgets/profile", locals: { user: current_user } %>
    <hr class="mt4">
    <p>
      embed code:

    </p>
    <textarea class="embed-code" rows="6" cols="40"><script type="text/javascript" async src="http://localhost:3000/assets/widget.js"></script><%= link_to "View #{current_user.name}'s profile'", user_profile_widget_url(current_user.guid), class: "profile-widget" %>
    </textarea>
  </div>
</div>
