<div class="widget profile">
  <div class="widget-header">
    <%= cover_photo(user) %>
    <!-- <img src="http://33.media.tumblr.com/72b99653d8e3ac0e6dfed1a9bdad2302/tumblr_nohbix1n0v1uvkr55o1_500.gif" alt="Myk Klemme cover photo" /> -->
  </div>
  <div class="widget-body">
    <div class="profile-header">
      <%= avatar(user) %>
      <!-- <img src="https://dmxvlyap9srmn.cloudfront.net/production/avatars/19/10906145_10204726967429329_7169499657929626305_n.jpg" alt="Myk Klemme's Example profile widget" class="widget-meta profile-avatar"/> -->
      <div class="widget-meta name ml1"><%= user.name %> <span>Vegan level: <%= user.level %></span></div>
    </div>

    <div class="widget-meta description mb1 mt2"><%= user.description %></div>
    <div class="widget-meta url mb1 mt2">
      <%= link_to user_profile_path(user.guid) do %>
        <i class="fa fa-link mr1"></i> <%= user_profile_url(user.guid) %>
      <%- end %>
    </div>
    <%= link_to "View profile", user_profile_path(user.guid), class: "button button-mini mt1 mb1", target: "_parent" %>
    <%= link_to "<i class='fa fa-heart'></i>".html_safe, user_profile_path(user.guid), class: "button button-mini like ml1", target: "_parent" %>
  </div>
</div>
<%= link_to "Create your own account", new_user_registration_path, class: "mini-link mt1 text-right", target: "_parent" %>
<!-- <a href="http://localhost:3000/register" class="mini-link mt1 text-right" target="_parent">Create your own account</a> -->
